@use '../base/mixins';

.archive {
  &--default {
    &__container {
      @include mixins.container;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    &__cards {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 20px;
    }

    &__pagination {
      // margin-top: 30px;
    }
  }
}