.card {
  &--default {
    background-color: white;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
    padding: 30px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    &__categories {
      display: flex;
      gap: 8px;

      a {
        background-color: rgb(233, 216, 253);
        font-size: 13px;
        display: inline-flex;
        padding: 8px 16px;
        border-radius: 4px;
        font-weight: 600;
        letter-spacing: 1px;
        text-decoration: none;
        color: rgb(45, 55, 72);
      }
    }

    &__title {
      font-size: 22px;
      font-weight: 700;
      line-height: 1.3;
      color: rgb(45, 55, 72);

      a {
        color: inherit;
        text-decoration: none;
      }
    }

    &__link {
      font-size: 13px;
      text-transform: uppercase;
      text-decoration: none;
      color: black;
      letter-spacing: 2px;
    }
  }

  &--category {
    background-color: white;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
    padding: 30px;
    border-radius: 4px;

    display: flex;
    flex-direction: column;
    gap: 15px;

    &__image {
      max-width: 50px;
      border-radius: 4px;
      overflow: hidden;
      // background-color: #f7f7f7;

      img {
        float: left;
      }
    }
  }

  &--contact {
    background-color: white;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
    padding: 30px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &--content {
    background-color: white;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
    padding: 30px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}